extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/curproj') Current Project
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/customer') Customer
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/executor') Executor
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/project') Project

