/* html { */
	/* box-sizing: border-box; */
  /* background-color: black; */
/* } */
/* body{ */
  /* margin: 10%; */
/* } */

.list-wrapper {
  margin-top: 20px;
}

.list-icon {
  display: inline-block;
  margin-right: 5px;
}

.form-inline{
	
}
